my-workflow-btuJEMXAKyq6UEz3.json
{"createdAt":"2025-07-25T18:45:25.170Z","updatedAt":"2025-07-25T19:28:34.000Z","id":"btuJEMXAKyq6UEz3","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"a2a66df3-ba02-41bc-b1e3-4a7435f72244","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2096,288]},{"parameters":{"options":{}},"id":"5e6d7d41-08f2-4fba-8cc9-28ba815827f4","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1904,288]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"6f596d31-e5e8-42be-aa83-decdb055c460","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1696,288]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"b1aeaabf-bce2-4843-8b16-f511985c3d72","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1504,288]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/alekseilisitskij/test_backup","mode":"url"},"repository":{"__rl":true,"value":"test_backup","mode":"list","cachedResultName":"test_backup","cachedResultUrl":"https://github.com/alekseilisitskij/test_backup"},"filePath":"="},"id":"6ccbdd68-7f07-4bb7-9557-844b62a21441","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1296,288],"alwaysOutputData":true,"webhookId":"667165cb-7b0d-4325-a4d6-64d289ca8c23","credentials":{"githubApi":{"id":"jzIrxVOg1zwvKoLp","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"4b046dcd-4ab7-4128-a28f-ef5fa9f23029","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1104,288]},{"parameters":{"filters":{},"requestOptions":{}},"id":"10411ae0-b998-4e0d-9b88-0c5babaf59ed","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-896,288],"credentials":{"n8nApi":{"id":"CBGCxqRG7r0hH4Hp","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"bc7c8272-3b34-4a1b-b721-cd27f034c547","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-704,288]},{"parameters":{"batchSize":1,"options":{}},"id":"0a737466-1a8c-48ef-9293-c498b13f878d","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-464,288]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"f4b9be87-a688-4f87-aa39-4cde5e61e9ab","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-224,208]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/alekseilisitskij/test_backup","mode":"url"},"repository":{"__rl":true,"value":"test_backup","mode":"list","cachedResultName":"test_backup","cachedResultUrl":"https://github.com/alekseilisitskij/test_backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"1f98df37-0456-4b59-9430-6f08fe82db2f","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,0],"webhookId":"5223323e-fdf7-4698-a690-3a7d7e638612","credentials":{"githubApi":{"id":"jzIrxVOg1zwvKoLp","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/alekseilisitskij/test_backup","mode":"url"},"repository":{"__rl":true,"value":"test_backup","mode":"url"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"1bd0e4aa-5dd2-4a62-aa09-4aaefa1350bb","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,400],"webhookId":"4a81d681-1665-4f81-b1c8-587cbdb551e5","credentials":{"githubApi":{"id":"jzIrxVOg1zwvKoLp","name":"GitHub account"}}},{"parameters":{"content":"## @igorzuevich \n**Автор** на [YouTube](https://www.youtube.com/@igorzuevich)","height":240,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-7200,1568],"typeVersion":1,"id":"170d07b1-d58b-41f5-9c34-8cf5f89f58e6","name":"Sticky Note2"}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d459b33a-5d66-468f-980f-cd90172a9f09","triggerCount":0,"tags":[]}